@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");

@font-face {
  font-family: "Audrey";
  src: url("font/Audrey/Audrey-Normal.otf"); /* IE9 Compat Modes */
  /* src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 
         url('webfont.woff2') format('woff2'), /* Super Modern Browsers 
         url('webfont.woff') format('woff'), /* Pretty Modern Browsers 
         url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS /
         url('webfont.svg#svgFontName') format('svg'); Legacy iOS */
}
@font-face {
  font-family: "Audrey Bold";
  src: url("font/Audrey/Audrey-Bold.otf"); /* IE9 Compat Modes */
  /* src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 
         url('webfont.woff2') format('woff2'), /* Super Modern Browsers 
         url('webfont.woff') format('woff'), /* Pretty Modern Browsers 
         url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS /
         url('webfont.svg#svgFontName') format('svg'); Legacy iOS */
}

body {
  /* margin: 10px; */
  /* padding: 10px; */
  /* padding-left: 70px; */
  /* padding-right: 70px; */
  font-family: "Lato", sans-serif;
  border: 0px;
  margin: 0px;
  padding: 0px;
}

.sf {
  width: 40vw;
  align-content: top;
  /* display: inline-block; */
  float: left;
  margin-right: 30px;
  border-radius: 5px;
}

.about {
  display: inline-block;
  vertical-align: middle;
}

p.about {
  padding: 30px;
  display: inline-block;
}

li {
  display: inline;
  padding-bottom: 20px;
}

ul {
  list-style-type: none;
  display: inline-block;
  font-weight: 300;
}

h1.header {
  display: inline-block;
  float: left;
  padding-bottom: 20px;
  font-weight: 200;
  padding-top: 14px;
  margin-top: 0px;
  color: white;
}

li a {
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
}

li a:hover {
  color: lightgray;
}

p {
  font-weight: 300;
}

.footer-wrapper {
  margin: 0 auto;
  max-width: 96px;
  margin-top: 100vh;
  padding-bottom: 10px;
  padding-top: 10px;
  vertical-align: middle;
  display: inline;
}

.footer {
  width: 25px;
  align-content: center;
  padding-left: 3px;
  padding-right: 3px;
}

a {
  text-decoration: none;
  color: white;
}

.footer:hover .img-top {
  display: inline;
}

.landing-page {
  /* align-content: center; */
  /* text-align: right; */
  padding-top: 30vh;
}
.landing-text {
  padding-bottom: 20px;
  width: 50%;
  margin-right: 0px;
  float: right;
  /* padding-right: 50px; */
}

.landing-footer {
  align-content: center;
  margin: 0 auto;
  padding-left: 20px;
  float: right;
}

.button-background {
  height: 20px;
  width: 80px;
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  float: right;
}

.button {
  padding: 5px;
  width: 50%;
  float: right;
  display: inline-block;
}

.button-text {
  text-align: center;
  color: black;
}

.button-text:hover {
  color: lightgray;
}
a:active {
  color: pink;
}

h1.title {
  color: white;
}

.landing-page-wrapper {
  /* background-image: url("media/SFinSF.jpg"); */
  font-family: "Audrey", sans-serif;
  background-image: url("media/sfbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  border: 0px;
  height: 100vh;
  color: white;
  padding: 50px;
  padding-right: 70px;

  /* height: 100vh; */
}

.landing-header {
  font-family: "Audrey Bold", sans-serif;
  margin: 0px;
  border: 0px;
  /* height: 100vh; */
  /* widows: 100vw; */
}

.wrapper {
  align-content: center;
  display: block;
  text-align: center;
  width: 50%;
}

.overall-wrapper {
  text-align: right;
  widows: 60%;
}
