@font-face {
  font-family: 'American Typerwriter';
  src: url('../media/font/AmericanTypewriterRegular.ttf');
}

.hello-paragraph {
  font-size: 60px;
  font-family: 'American Typewriter', serif;
  text-align: left;
  width: 55vw;
  margin-left: 5vw;
  vertical-align: center;
}

.imdb-link {
  color: #f4c434;
}

@media only screen and (max-width: 768px) {
  .hello-paragraph {
    font-size: 40px;
    text-align: center;
    width: 80vw;
  }
}
