.projects {
  overflow: auto;
  white-space: nowrap;
  vertical-align: bottom;
  height: 100vh;
  width: auto;
}

.project-img {
  display: inline-block;
  height: 280px;
  margin: 50px;
  margin-left: 80px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}

.project-img:hover {
  cursor: pointer;
}

#amazon {
  background-image: url("../media/amazon.png");
  width: 350px;
  height: 180px;
  margin-left: 30px;
  margin-top: 150px;
  vertical-align: top;
}

#amazon:hover {
  background-image: url("../media/amazon-hover.png");
  width: 450px;
  height: 280px;
  margin-left: 0px;
  margin-right: -20px;
  vertical-align: 20px;
  margin-top: 0px;
}
#ampr {
  background-image: url("../media/ampr.png");
  height: 360px;
  width: 560px;
}
#ampr:hover {
  background-image: url("../media/ampr-hover.png");
  height: 360px;
  width: 560x;
}

#mealmatch {
  background-image: url("../media/mealmatch.png");
  height: 300px;
  width: 500px;
}
#mealmatch:hover {
  background-image: url("../media/mealmatch-hover.png");
  height: 350px;
  width: 550px;
}

#caffeinade {
  background-image: url("../media/caffeinade.png");
  height: 300px;
  width: 500px;
}
#caffeinade:hover {
  background-image: url("../media/caffeinade-hover.png");
  height: 350px;
  width: 550px;
}
#yumme {
  background-image: url("../media/yumme.png");
  height: 300px;
  width: 500px;
}
#yumme:hover {
  height: 350px;
  width: 550px;
  background-image: url("../media/yumme-hover.png");
}

@media only screen and (max-width: 768px) {
  .projects {
    overflow: scroll;
    white-space: normal;
    width: 80vw;
    margin: 0 auto;
  }
  .project-img {
    display: block;
    width: 60vw;
    margin: 0 auto;
    padding: 0px;
  }
  #amazon {
    margin: 0 auto;
    margin-top: 20px;
    width: 50vw;
    height: 30vh;
  }

  #amazon:hover {
    width: 50vw;
    margin: 0 auto;
    margin-top: 20px;
    height: 30vh;
  }
  #ampr {
    width: 50vw;
    margin: 0 auto;
    margin-top: 20px;
    height: 30vh;
  }
  #ampr:hover {
    width: 50vw;
    margin: 0 auto;
    margin-top: 20px;
    height: 30vh;
  }

  #mealmatch {
    width: 50vw;
    margin: 0 auto;
    margin-top: 20px;
    height: 30vh;
  }
  #mealmatch:hover {
    width: 50vw;
    margin: 0 auto;
    margin-top: 20px;
    height: 30vh;
  }

  #caffeinade {
    width: 50vw;
    margin: 0 auto;
    margin-top: 20px;
    height: 30vh;
  }
  #caffeinade:hover {
    width: 50vw;
    margin: 0 auto;
    margin-top: 20px;
    height: 30vh;
  }
  #yumme {
    width: 50vw;
    margin: 0 auto;
    margin-top: 20px;
    height: 30vh;
  }
  #yumme:hover {
    width: 50vw;
    margin: 0 auto;
    margin-top: 20px;
    height: 30vh;
  }
}
