@import url("https://fonts.googleapis.com/css?family=Poiret+One");

.heading {
  font-size: 35px;
  text-align: left;
  padding-left: 50px;
  font-family: "Poiret One", cursive;
  color: black;
}

@media only screen and (max-width: 768px) {
  .heading {
    text-align: center;
    padding-left: 0px;
  }
}
