ul {
  list-style-type: none;
  text-align: left;
  color: #bdbdbd;
}

li {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  color: #bdbdbd;
}

a {
  color: #bdbdbd;
  text-decoration: none;
}

ul a:hover {
  cursor: pointer;
  color: black;
}

.underline {
  background-color: black;
  width: 120px;
  height: 7px;
}

.active {
  color: black;
}

.no-underline {
  background-color: transparent;
}
