.header-wrapper {
  display: inline-block;
  width: 50vw;
}

.social-media-wrapper {
  display: inline-block;
  width: 40vw;
}

@media only screen and (max-width: 768px) {
  .header-media-wrapper {
    margin: 0 auto;
    text-align: center;
    width: 90vw;
  }
  .social-media-wrapper {
    text-align: center;
    margin: 0 auto;
    display: block;
  }
  .page-content-wrapper {
    display: block;
  }
  .nav-wrapper {
    margin-left: 50px;
  }
}
