.social-img {
  width: 20px;
  margin-left: 10px;
}

.social-media {
  text-align: right;
  margin-left: 50px;
}

@media only screen and (max-width: 768px) {
  .social-media {
    text-align: center;
    margin: 0 auto;
  }
}
